@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400&display=swap');

ul {
	margin: 0;
	font-family: sans-serif;
  list-style-type: none;
  position: fixed;
  top: 0;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

li {
	line-height: 2.5;
}

#navPage {
	display: inline;
	text-decoration:none;
	background-color: black;
	color: white;
  font-size: 28px;
  padding: 14px 16px;
  font-family: 'Lexend Deca', sans-serif;
}

#navPage:hover {
	color:red;
}

#gfriend {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

#page1 {
	background-color: white;
	font-family: 'Lexend Deca', sans-serif;
	display: flex;
	margin-top: 20px;
}


#left {
  padding-top: 50px;
  margin-left: 40px;
  margin-top: 0px;
  width: 800px;
  box-sizing: border-box;
  display: flex;
	flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 36px;
}

#views {
  font-size: 24px;
  margin: 0;
}

#thumbsup {
  width: 25px;
  height: auto;
  display: inline;
  padding-right: 30px;
}

#thumbsupright {
  text-align: right;
}

#intro {
  margin-top: 10px;
}

#pfp {
  border-radius: 50%;
  width: 70px;
  height: auto;
  display: inline-block;
  margin-right: 15px;
}

#profile {
  display: inline-block;
  margin: 0;
  font-size: 20px;
  line-height: 1.8;
  vertical-align: top;
}

#links {
  text-decoration: none;
}

#links:hover {
	color:red;
}

#titles:hover {
	color:red;
	text-decoration: underline;
}

#desc {
  padding-left: 90px;
  font-size:20px;
}

#mv {
  width: 220px;
  height: 130px;
  object-fit: cover;
	flex-shrink: 0;
}

#right {
  font-family: 'Lexend Deca', sans-serif;
  width: 650px;
	padding-left: 20px;
	padding-top: 50px;
	padding-right: 20px;
}

#titles {
  font-size: 18px;
  width: 57%;
  padding-left: 10px;
	color: black;
	align-items: center;
}

#articles {
  padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#background {
	background-color: white;
}


#page2 {
	margin-top: 40px;
	padding-left: 250px;
	padding-right: 250px;
	font-family: 'Lexend Deca', sans-serif;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-evenly;
}

#columns {
	width: 44%;
	display: inline-block;
	min-width: 300px;
	flex-wrap: wrap;
}

#image {
	width: 100%;
	height: auto;;
}

#paragraphs {
	font-size: 18px;
}
